@font-face {
    font-family: clementelight;
    src: url(fonts/clemente/ClementePDad-ExtraLightItal.ttf);
 }

 @font-face {
    font-family: NordicaRegular;
    src: url(fonts/nordica/NordicaThin.otf);
 }