 #report-abuse {
	 position:fixed;
	 bottom: 10px;
	 left: 10px;
	 margin: 5px;
 	 height: 19px;
   border: 1px solid #999; 
   -moz-border-radius: 10px;  
   -webkit-border-radius: 10px; 
   border-radius:10px; 
   padding: 4px 7px 4px 6px; 
   background-color: rgba(255,255,255,0.7);   
	 z-index: 1000;	
  } 
  
 #report-abuse a {
	 display: block;
	 padding: 0px;
	 margin: 0px;
	 height: 19px;
	 padding-left: 26px;
	 font-weight: bolder;
	 font-size: 12px;
	 color: black;
   font-family: 'Myriad Pro', Helvetica, Arial; 
	 background-image:url('/CatalystImages/ra_exclamation.png');
	 background-repeat:no-repeat;
   line-height: 19px;
  } 
  
 #report-abuse a:hover {
	 text-decoration: underline;
	 background-image:url('/CatalystImages/ra_exclamation_a.png');
  }
