.ax_default {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.headline {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.title {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.primary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.subheader {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.body_2___menu {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.body_1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.caption {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.primary_text_dark1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.secondary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.disabled_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.flat_button1 {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.status_bar_light {
}
.title_bar_light {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.content_bg_light {
}
.dialog_light {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.primary_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.secondary_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
.disabled_text_light {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
.status_bar_dark {
}
.title_bar_dark {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.content_bg_dark {
}
.dialog_dark {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.card {
}
.float_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
.flat_button_pressed {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.flat_button_disabled {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.raised_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.raised_button_pressed {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.raised_button_disabled {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.hint_text {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.shape {
}
.line {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
  color:#000000;
}
.button {
}
.horizontal_line {
}
.contact_chips {
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.contact_avatar {
}
.divider {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.heading_1 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.horizontal_line1 {
}
.light_blue_bg {
}
.button1 {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.icon {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#40A2F7;
}
.h1 {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#40A2F7;
  line-height:21px;
}
.hr_-_line_break {
}
.dark_text_-_light_bg {
  color:#40A2F7;
}
.h2 {
  font-family:'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#40A2F7;
}
.h1__larger_ {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#40A2F7;
  line-height:30px;
}
.book_title {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#40A2F7;
  line-height:27px;
}
.tag {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.button_secondary {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#40A2F7;
}
.paragraph1 {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#40A2F7;
  text-align:left;
  line-height:17px;
}
.secondary_text {
  font-family:'Lato Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  color:#9FCFFB;
}
.dark_blue {
}
.grey {
}
.vertical_line {
}
.box_3 {
}
.box_11 {
}
